body {
  height: 100vh;
  width: 100vw;
  /* background-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  height: 370px;
  width: 200px;
  background-color: black;
  border: 1px solid white;
  border-radius: 5%;
}

.textField {
  height: 100px;
  width: 200px;
  /* background-color: green; */
  align-items: end;
  display: flex;
  justify-content: end;
}

#input {
  height: 35px;
  width: 195px;
  font-size: 30px;
  text-align: right;
  color: white;
  background-color: black;
  border: none;
  outline: none;
}

.buttons {
  height: 300px;
  width: 200px;
  /* background-color: blue; */
}

button {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 50%;
  font-size: large;
  color: white;
  background-color: #737272;
  /* transition: all ease 0.5s; */
}

button:focus {
  background-color: #a8a5a5;
}
#zero {
  height: 40px;
  width: 86px;
  /* border: none; */
  border-radius: 40%;
}

.rows {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
